In [1]:
import pandas as pd
import numpy as np

from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [3]:
ds_raw = [["우유", "라면"],
          ["라면"],
          ["아이스크림", "우유"],
          ["과자", "라면"],
          ["아이스크림"]]

ds_raw

[['우유', '라면'], ['라면'], ['아이스크림', '우유'], ['과자', '라면'], ['아이스크림']]

In [4]:
enc = TransactionEncoder()
ds_raw_enc = enc.fit_transform(X = ds_raw)
df_asso = pd.DataFrame(ds_raw_enc, columns = enc.columns_)
df_asso.head()

      과자     라면  아이스크림     우유
0  False   True  False   True
1  False   True  False  False
2  False  False   True   True
3   True   True  False  False
4  False  False   True  False

In [13]:
min_support = 0.1
df_freq = apriori(df_asso, min_support = 0.5, use_colnames = True)
df_freq.round(3)

   support itemsets
0      0.6     (라면)

In [10]:
df_asso_rule = association_rules(df_freq, metric = "confidence", min_threshold = 0.5)
df_asso_rule.round(3)

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction]
Index: []